<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <h1>New Product</h1>
    <form action="/createdproduct" method="post">

        <label for="name">Produkt Navn</label><br>
        <input type="text" name="name" id="name">
        <br>
        <label for="producer">Produkt Producent</label><br>
        <input type="text" name="producer" id="producer">
        <br>
        <label for="price">Pris</label><br>
        <input type="text" name="price" id="price">
        <br>
        <label for="date">Dato</label><br>
        <input type="text" name="date" id="date">
        <br>
        <label for="active">Aktiv?</label><br>
        <input type="text" name="active" id="active">
        <br>
        <button type="submit" name="submit" button class="btn btn-create">Create</button>
    </form>
</div>





</body>


</body>
</html>