<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <h1>Nyt Abonnement</h1>
    <form action="/createdsubscription" method="post">

        <label for="startDate">Start Date</label><br>
        <input type="text" name="startDate" id="startDate">
        <br>
        <label for="subscriptionType">Subscription Type</label><br>
        <input type="text" name="subscriptionType" id="subscriptionType">
        <br>
        <label for="customerId">Kunde ID</label><br>
        <input type="text" name="customerId" id="customerId">
        <br>
        <label for="productId">product Id</label><br>
        <input type="text" name="productId" id="productId">
        <br>
        <label for="active">Aktivt Abonemment?</label><br>
        <input type="text" name="active" id="active">
        <br>
        <button type="submit" name="submit" button class="btn btn-create">Create</button>
    </form>
</div>





</body>


</body>
</html>