<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Single Product</title>
</head>
<body>


<div class="container">
    <h1>Details</h1>
    <p>Product ID: <span th:text="${subscription.id}"></span></p>
    <p>Product Name: <span th:text="${subscription.startDate}"></span> </p>
    <p>Product Producer: <span th:text="${subscription.subscriptionType}"></span></p>
    <p>Product Price: <span th:text="${subscription.customerId}"></span> </p>
    <p>Product Date: <span th:text="${subscription.productId}"></span> </p>
    <p>Is active?: <span th:text="${subscription.active}"></span></p>
</div>
</body>
</html>

</body>
</html>