<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Our Selection</title>
</head>
<body>
<h1>Product Overview</h1>




<div class="container">


    <table>
        <tr>
            <th>Abonnement ID</th>
            <th>Start Dato</th>
            <th>Abonnement Type</th>
            <th>Kunde ID</th>
            <th>Produkt Type</th>
            <th>Aktivt?</th>
        </tr>


        <tr th:each="subscription : ${subscriptions}">
            <td th:text="${subscription.id}"></td>
            <td th:text="${subscription.startDate}"></td>
            <td th:text="${subscription.subscriptionType}"></td>
            <td th:text="${subscription.customerId}"></td>
            <td th:text="${subscription.productId}">
            <td th:text="${subscription.active}">
            <td><a th:href="@{/deletesubscription(subscriptionId=${subscription.id})}"><button class="btn btn-del"> Delete </button></a></th>
            <td><a th:href="@{/updatesubscription(subscriptionId=${subscription.id})}"><button class="btn btn-ed"> Update </button></a></th>
            <td><a th:href="@{/singlesubscription(subscriptionId=${subscription.id})}"><button class="btn btn-details"> Details</button></a></td>

        </tr>


    </table>
</div>


</body>
</html>