<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <h1>New Customer</h1>
     <form action="/createdcustomer" method="post">


        <label for="name">Kunde Navn</label><br>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Kunde Email</label><br>
        <input type="text" name="email" id="email">
        <br>
        <label for="phone">Kunde Telefon Nummer:</label><br>
        <input type="text" name="phone" id="phone">
        <br>
        <label for="address">Kunde Addresse</label><br>
        <input type="text" name="address" id="address">
        <br>
        <label for="cpr">Kunde CPR</label><br>
        <input type="text" name="cpr" id="cpr">
        <br>
        <button type="submit" name="submit" button class="btn btn-create">Create</button>
    </form>
</div>





</body>


</body>
</html>